h1 {
  margin : 0 auto;
  font-size : 500px;
  vertical-align: middle;
  /* transform : rotate(45deg); */
  color : rgba(255, 0, 200, 0.5);
}

#main{
  width : 720px;
  margin : 0 auto;
  /* padding-top : 100px; */
  text-align: center;
}